body {
    margin: 0px;
    padding: 0px;
}
.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 6fr;
    min-height: 100vh;
}
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1992D4;
    color: white;
}
.sidebar-content {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 4em;
    margin-left: 1em;
}
.sidebar-content > * > * {
    line-height: 1.5em;
}
.sidebar-branding {
    display: flex;
    align-content: center;
    align-items: center;
}
.sidebar-branding-icon {
    filter: invert(95);
}
.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 6em;
    align-items: center;
}
.header-search {
    display: flex;
    margin-left: 3vw;
    gap: 0.7em;
    align-items: center;
}
.header-search input {
    height: 25px;
    border-radius: 20px;
    background-color: #E2E8F0;
    border: none;
    flex-grow: 2;
}
.header-account {
    display: flex;
    gap: 2em;
    align-items: center;
}
.header-pfp img {
    max-height: 60px;
    border-radius: 60px;
}
.header-bottom {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    box-shadow: -1px 7px 7px 0px rgba(0,0,0,0.24);
}
.header-greeting-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1.5fr;
    max-width: fit-content;
    margin-left: 3vh;
}
.header-greeting-pfp {
    grid-row: 1 / 3;
}
.header-greeting-pfp img {
    max-height: 80px;
    border-radius: 70px;
}
.header-greeting {
    align-self: center;
}
.header-greeting-name {
    font-size: 1.6rem;
}
.header-actions {
    display: flex;
    align-content: center;
    gap: 1em;
}
.header-actions button {
    height: 40px;
    width: 80px;
    border-radius: 40px;
    background-color: #1992D4;
    color: white;
    border: none;
}
.main {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template: 30px 1fr / 4fr 1.5fr;
    padding-top: 25px;
    padding-left: 2vw;
    font-size: 1.15rem;
    background-color: #E2E8F0;
}
.main-projects {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-template-rows: repeat(auto-fit, 250px);
    gap: 2em;
}
.main-projects-project {
    border-left: 5px solid orange;
    border-radius: 10px;
    background-color: white;
    box-shadow: -1px 7px 7px 0px rgba(0,0,0,0.24);
}