body {
    margin: 0px;
    padding: 0px;
}
.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 6fr;
    min-height: 100vh;
}
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1992D4;
    color: white;
}
.sidebar-content {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 4em;
    margin-left: 1em;
}
.sidebar-content > * > * {
    line-height: 1.5em;
}
.sidebar-branding {
    align-content: center;
}
.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 6em;
}
.header-search {
    margin-left: 5em;
}
.header-search-icon {
    display: inline-block;
}
.header-search input {
    width: 700px;
    height: 25px;
    border-radius: 20px;
    background-color: #E2E8F0;
    border: none;
}
.header-account {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.header-bottom {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.header-greeting-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1.5fr;
    max-width: fit-content;
    margin-left: 5em;
}
.header-greeting-pfp {
    grid-row: 1 / 3;
}
.header-greeting-pfp img {
    max-height: 70px;
    border-radius: 70px;
}
.header-greeting {
    align-self: center;
}
.header-greeting-name {
    font-size: 1.6rem;
}
.header-actions {
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.header-actions button {
    height: 40px;
    width: 80px;
    border-radius: 40px;
    background-color: #1992D4;
    color: white;
    border: none;
}
.main {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
}