body {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";

}
.sidebar {
    grid-area: sidebar;
    display: grid;
    background-color: #167bbe;
    color: white;
}
.header {
    grid-area: header;
    display: grid;
}
.main {
    grid-area: main;
    display: grid;
}